
/* Header styling */
.header-container {
    display:flex;
    background-color: darkslategray;
}

.header-title {
    background-color:lightblue;
    flex:20%;
    text-align: right;
    margin: 10px;
    padding: 5px; 
    padding-right: 15px; 
}

.header-nav {
    display: flex;
    flex:80%;
    justify-content: flex-end;
    margin: 10px;
    padding: 5px; 
    padding-top: 15px;
}

.navElement{
    padding:4px;
    margin:4px;
    font-size: large;
}

a:link, a:visited, a:hover, a:active {
    color: lightblue;
}

/*Subtitle styling*/

.subtitle-section {
    position: relative;
}

.subtitle-block {
    position: absolute;
    background-color: darkslategray;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 20px;
    right: 40px;
    font-size: x-large;
}

#subtitle-text {
    margin: 5px;
}

#subtitle-img {
    object-fit:cover;
    width:100%;
    height:200px;
}

/*About me section styling*/

.leftHeading {
    font-size: xx-large;
}

.aboutMe-container {
    display: flex;
    margin: 10px;
}

.aboutMe-title {
    flex: 20%;
    border-right: 2px solid black;
    text-align: right;  
    padding: 12px;
}

.aboutMe-text {
    flex: 80%;
    text-align: left;
    padding: 10px;
}

/* Work section Styling*/

.work-container {
    display: flex;
    margin: 10px;
}

.work-title {
    flex: 20%;
    border-right: 2px solid black;
    text-align: right;
    padding: 13px;
}

.work-image-container {
    display: flex;
    flex: 80%;
    flex-wrap: wrap;
    margin: 15px;
}

.work-big-img {
    position: relative;
    display: flex;
    width:100%;
}

.work-small-img {
    position: relative;
    display: flex;
    width:49%;
    margin-right:5px;
}

.image-class {
    max-width:100%;
    height: auto;
}

.text-block {
    position: absolute;
    bottom:20px;
    left:10px;
    background-color: lightblue;
    line-height: 5px;
}

/*Contact Me*/

.contactMe-container {
    display: flex;
    margin: 10px;
}

.contactMe-title {
    flex: 20%;
    border-right: 2px solid black;
    text-align: right;
    padding: 15px;
}

.contactMe-item {
    flex: 16%;
    padding: 5px;
    text-align: center;
    align-self: center;
}

a.contactMe-Link:link, a.contactMe-Link:visited, a.contactMe-Link:hover, a.contactMe-Link:active {
    color: black;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    .leftHeading {
        margin-bottom: 5px;
    }

    .header-container {
        flex-direction: column;
    }

    .header-nav {
      flex-direction: row;
      justify-content: center;
    }

    .header-title {
        text-align: center;
    }

    .aboutMe-container {
        flex-direction: column;
    }

    .aboutMe-title {
        border-right: 0px;
        border-bottom: 2px solid black;
        text-align: left;
    }

    .work-container {
        flex-direction: column;
    }

    .work-title {
        border-right: 0px;
        border-bottom: 2px solid black;
        text-align: left;
    }

    .work-image-container {
        flex-direction: row;
    }

    .contactMe-container {
        flex-wrap: wrap;
    }

    .contactMe-title {
        border-right: 0px;
        border-bottom: 2px solid black;
        text-align: left;
        flex: 100%;
    }

    .contactMe-item {
        padding-top: 10px;
    }

  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    .leftHeading {
        margin-bottom: 5px;
    }

    .header-container {
        flex-direction: column;
    }

    .header-title {
        text-align: center;
    }

    .header-nav {
        flex-direction: row;
        justify-content: center;
    }

    .subtitle-block {
        left: 50%;
        transform: translate(-50%, 0);
    }

    #subtitle-text {
        text-align: center;
    }
    
    .aboutMe-container {
        flex-direction: column;
    }

    .aboutMe-title {
        border-right: 0px;
        border-bottom: 2px solid black;
        text-align: left;
    }

    .work-container {
        flex-direction: column;
    }

    .work-title {
        border-right: 0px;
        border-bottom: 2px solid black;
        text-align: left;
    }

    .work-small-img {
        flex:100%;
    }

    .contactMe-container {
        flex-direction: column;
    }

    .contactMe-title {
        border-right: 0px;
        border-bottom: 2px solid black;
        text-align: left;
        
    }
    .contactMe-item {
        text-align: left;
        align-self: flex-start;
        padding-top: 10px;
    }
}