
/* Header styling */
.header-container {
    display:flex;
    background-color: darkslategray;
}

.header-title {
    background-color:lightblue;
    flex:20%;
    text-align: right;
    margin: 10px;
    padding: 5px; 
    padding-right: 15px; 
}

.header-nav {
    display: flex;
    flex:80%;
    justify-content: flex-end;
    margin: 10px;
    padding: 5px; 
    padding-top: 15px;
}

.nav1{
    padding:4px;
    margin:4px;
    font-size: large;
}

a:link, a:visited, a:hover, a:active {
    color: lightblue;
    background-color: transparent;
}

/*Subtitle styling*/

.subtitle-section {
    position: relative;
}

.subtitle-block {
    position: absolute;
    background-color: darkslategray;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 20px;
    right: 40px;
    font-size: x-large;
}

#subtitle-text {
    margin: 5px;
}

#subtitle-img {
    object-fit:cover;
    width:100%;
    height:200px;
}

/*About me section styling*/

.leftTitle {
    font-size: xx-large;
}

.aboutMe-container {
    display: flex;
    margin: 10px;
}

.aboutMe-item-a {
    flex: 20%;
    border-right: 2px solid black;
    text-align: right;  
    padding: 12px;
}

.aboutMe-item-b {
    flex: 80%;
    text-align: left;
    padding: 10px;
}

/* Work section Styling*/

.work-container {
    display: flex;
    margin: 10px;
}

.work-item-a {
    width: 20%;
    border-right: 2px solid black;
    text-align: right;
    padding: 10px;
    padding-right: 11px;
}

.work-image-container {
    
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.work-big-img {
    position: relative;
    text-align: center;
    display: flex;
    width:98%;
    margin: 5px;
    
}

.work-small-img1 {
    position: relative;
    text-align: center;
    display: flex;
    width:49%;
    margin-left: 2px;
    margin: 5px;
    
}

.image-class {
    width:100%;
    height: auto;
    border:2px solid green;
    margin: 5px 5px 5px 5px;
}

.work-small-img2 {
   position: relative;
    text-align: center;
    display: flex;
    width:49%;
    margin:5px;
}
.text-block {
    position: absolute;
    bottom:20px;
    left:10px;
    background-color: aqua;
}
.contactMe-container {
    display: flex;
    margin: 10px;
}

.contactMe-item-a {
    flex: 20%;
    border-right: 2px solid black;
    text-align: right;
    padding: 10px;
    display: flex;
    
}
.contactMe-item {
    display:flex;
    flex: 16%;
    padding: 5px;
    text-align: center;
}
/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    .header-nav {
        
        justify-content: center;
    }
    .header-container {
        flex-direction: column;
        justify-content: center;
    }
    
    .aboutMe-container {
        flex-direction: column;
    }
    .aboutMe-item-a {
        text-align: left;
        border-bottom: 2px solid black;
        border-right: 0px;
    }
    .work-container{
        flex-direction: column;
        
    }
    .work-item-a {
        text-align: left;
        border-bottom: 2px solid black;
        border-right: 0px;
    }
    

    .contactMe-container {
        flex-direction: column;
    }
    .contactMe-item-a{
        text-align: left;
        border-bottom: 2px solid black;
        border-right: 0px;
        display: inline;
        flex-direction: row;

    }
    .contactMe-item {
        flex-direction: row;
    }
  

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */

    .header-nav {
        
        justify-content: center;
    }
    .header-container {
        flex-direction: column;
        justify-content: center;
    }

    .aboutMe-container {
        flex-direction: column;
    }
    .aboutMe-item-a {
        text-align: left;
        border-bottom: 2px solid black;
        border-right: 0px;
    }
    .work-container{
        flex-direction: column;
        
    }
    
    .work-item-a {
        text-align: left;
        border-bottom: 2px solid black;
        border-right: 0px;
    }
    .work-small-img1 {
        width:100%;
    }
    .work-small-img2 {
        width:100%;
    }
    .contactMe-container {
        flex-direction: column;
    }
    .contactMe-item-a{
        text-align: left;
        border-bottom: 2px solid black;
        border-right: 0px;

    }
    